<a href="https://colab.research.google.com/github/IsauraRs/BEDU_Equipo1/blob/master/ProyectoPython/ProyectoEquipo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Histórico del bitcoin

## Se carga el data set que ha sido extraído de https://www.kaggle.com/mczielinski/bitcoin-historical-data

In [28]:
# Se importan las librerías a utilizar
import pandas as pd
import numpy as np

In [29]:
bitcoin_csv = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv", sep = ",")

In [30]:
# Se revisan los tipos de datos
bitcoin_csv.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [31]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

Se cambia el formato de la fecha del formato UNIX

In [32]:
pd.to_datetime(bitcoin_csv['Timestamp'], unit  = "ms")

0         1970-01-16 08:08:37.920
1         1970-01-16 08:08:37.980
2         1970-01-16 08:08:38.040
3         1970-01-16 08:08:38.100
4         1970-01-16 08:08:38.160
                    ...
4727772   1970-01-19 15:02:52.560
4727773   1970-01-19 15:02:52.620
4727774   1970-01-19 15:02:52.680
4727775   1970-01-19 15:02:52.740
4727776   1970-01-19 15:02:52.800
Name: Timestamp, Length: 4727777, dtype: datetime64[ns]

In [33]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [34]:
bitcoin_csv.isna().sum(axis = 0)

Timestamp                  0
Open                 1243472
High                 1243472
Low                  1243472
Close                1243472
Volume_(BTC)         1243472
Volume_(Currency)    1243472
Weighted_Price       1243472
dtype: int64

In [35]:
bitcoin_csv.isna().sum(axis = 1)

0          0
1          7
2          7
3          7
4          7
          ..
4727772    0
4727773    0
4727774    0
4727775    0
4727776    0
Length: 4727777, dtype: int64

In [38]:
bitcoin_csv = bitcoin_csv.apply(pd.to_numeric, errors = 'coerce')
bitcoin_csv = bitcoin_csv.dropna()

In [39]:
#Se verifica que se haya limpiado de los NaN
bitcoin_csv.head()

       Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     1325317920  4.39  4.39  ...      0.455581           2.000000        4.390000
478   1325346600  4.39  4.39  ...     48.000000         210.720000        4.390000
547   1325350740  4.50  4.57  ...     37.862297         171.380338        4.526411
548   1325350800  4.58  4.58  ...      9.000000          41.220000        4.580000
1224  1325391360  4.58  4.58  ...      1.502000           6.879160        4.580000

[5 rows x 8 columns]

## Se resetea el índice

In [40]:

bitcoin_csv = bitcoin_csv.reset_index(drop = True)

In [41]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581           2.000000        4.390000
1  1325346600  4.39  4.39  ...     48.000000         210.720000        4.390000
2  1325350740  4.50  4.57  ...     37.862297         171.380338        4.526411
3  1325350800  4.58  4.58  ...      9.000000          41.220000        4.580000
4  1325391360  4.58  4.58  ...      1.502000           6.879160        4.580000

[5 rows x 8 columns]