<a href="https://colab.research.google.com/github/IsauraRs/BEDU_Equipo1/blob/master/ProyectoPython/ProyectoEquipo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Histórico del bitcoin

## Se carga el data set que ha sido extraído de https://www.kaggle.com/mczielinski/bitcoin-historical-data

In [ ]:
# Se importan las librerías a utilizar
import pandas as pd
import numpy as np

In [ ]:
bitcoin_csv = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv", sep = ",")

In [ ]:
# Se revisan los tipos de datos
bitcoin_csv.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [ ]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

Se cambia el formato de la fecha del formato UNIX

In [ ]:
pd.to_datetime(bitcoin_csv['Timestamp'], unit  = "ms")

0         1970-01-16 08:08:37.920
1         1970-01-16 08:08:37.980
2         1970-01-16 08:08:38.040
3         1970-01-16 08:08:38.100
4         1970-01-16 08:08:38.160
                    ...
4727772   1970-01-19 15:02:52.560
4727773   1970-01-19 15:02:52.620
4727774   1970-01-19 15:02:52.680
4727775   1970-01-19 15:02:52.740
4727776   1970-01-19 15:02:52.800
Name: Timestamp, Length: 4727777, dtype: datetime64[ns]

In [ ]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [ ]:
bitcoin_csv.isna().sum(axis = 0)

Timestamp                  0
Open                 1243472
High                 1243472
Low                  1243472
Close                1243472
Volume_(BTC)         1243472
Volume_(Currency)    1243472
Weighted_Price       1243472
dtype: int64

In [ ]:
bitcoin_csv.isna().sum(axis = 1)

0          0
1          7
2          7
3          7
4          7
          ..
4727772    0
4727773    0
4727774    0
4727775    0
4727776    0
Length: 4727777, dtype: int64

In [ ]:
#Se limpian los NaN
bitcoin_csv.dropna()

          Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
0        1325317920      4.39  ...           2.000000        4.390000
478      1325346600      4.39  ...         210.720000        4.390000
547      1325350740      4.50  ...         171.380338        4.526411
548      1325350800      4.58  ...          41.220000        4.580000
1224     1325391360      4.58  ...           6.879160        4.580000
...             ...       ...  ...                ...             ...
4727772  1609372560  28801.47  ...       27804.572129    28806.429798
4727773  1609372620  28829.42  ...       68332.350629    28846.441863
4727774  1609372680  28850.49  ...       71232.784464    28879.056266
4727775  1609372740  28910.54  ...      211870.912660    28893.695831
4727776  1609372800  28893.21  ...      166449.709320    28909.166061

[3484305 rows x 8 columns]

In [ ]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [ ]:
bitcoin_csv.dropna(axis = 0, how = "any")

          Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
0        1325317920      4.39  ...           2.000000        4.390000
478      1325346600      4.39  ...         210.720000        4.390000
547      1325350740      4.50  ...         171.380338        4.526411
548      1325350800      4.58  ...          41.220000        4.580000
1224     1325391360      4.58  ...           6.879160        4.580000
...             ...       ...  ...                ...             ...
4727772  1609372560  28801.47  ...       27804.572129    28806.429798
4727773  1609372620  28829.42  ...       68332.350629    28846.441863
4727774  1609372680  28850.49  ...       71232.784464    28879.056266
4727775  1609372740  28910.54  ...      211870.912660    28893.695831
4727776  1609372800  28893.21  ...      166449.709320    28909.166061

[3484305 rows x 8 columns]

In [ ]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [ ]:
bitcoin_csv.dropna(axis = 0, how = "all")

          Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
0        1325317920      4.39  ...           2.000000        4.390000
1        1325317980       NaN  ...                NaN             NaN
2        1325318040       NaN  ...                NaN             NaN
3        1325318100       NaN  ...                NaN             NaN
4        1325318160       NaN  ...                NaN             NaN
...             ...       ...  ...                ...             ...
4727772  1609372560  28801.47  ...       27804.572129    28806.429798
4727773  1609372620  28829.42  ...       68332.350629    28846.441863
4727774  1609372680  28850.49  ...       71232.784464    28879.056266
4727775  1609372740  28910.54  ...      211870.912660    28893.695831
4727776  1609372800  28893.21  ...      166449.709320    28909.166061

[4727777 rows x 8 columns]

In [ ]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]