<a href="https://colab.research.google.com/github/IsauraRs/BEDU_Equipo1/blob/master/ProyectoPython/ProyectoEquipo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Histórico del bitcoin

## Se importan las librerías a utilizar

In [121]:
import pandas as pd
import numpy as np

## Se carga el data set que ha sido extraído de https://www.kaggle.com/mczielinski/bitcoin-historical-data

In [122]:
bitcoin_csv = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv", sep = ",")

## Se revisan los tipos de datos

In [123]:
bitcoin_csv.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [124]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

In [125]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [126]:
bitcoin_csv.isna().sum(axis = 0)

Timestamp                  0
Open                 1243472
High                 1243472
Low                  1243472
Close                1243472
Volume_(BTC)         1243472
Volume_(Currency)    1243472
Weighted_Price       1243472
dtype: int64

In [127]:
bitcoin_csv.isna().sum(axis = 1)

0          0
1          7
2          7
3          7
4          7
          ..
4727772    0
4727773    0
4727774    0
4727775    0
4727776    0
Length: 4727777, dtype: int64

In [128]:
bitcoin_csv = bitcoin_csv.apply(pd.to_numeric, errors = 'coerce')
bitcoin_csv = bitcoin_csv.dropna()

In [129]:
#Se verifica que se haya limpiado de los NaN
bitcoin_csv.head()

       Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     1325317920  4.39  4.39  ...      0.455581           2.000000        4.390000
478   1325346600  4.39  4.39  ...     48.000000         210.720000        4.390000
547   1325350740  4.50  4.57  ...     37.862297         171.380338        4.526411
548   1325350800  4.58  4.58  ...      9.000000          41.220000        4.580000
1224  1325391360  4.58  4.58  ...      1.502000           6.879160        4.580000

[5 rows x 8 columns]

## Se resetea el índice

In [130]:

bitcoin_csv = bitcoin_csv.reset_index(drop = True)

In [131]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581           2.000000        4.390000
1  1325346600  4.39  4.39  ...     48.000000         210.720000        4.390000
2  1325350740  4.50  4.57  ...     37.862297         171.380338        4.526411
3  1325350800  4.58  4.58  ...      9.000000          41.220000        4.580000
4  1325391360  4.58  4.58  ...      1.502000           6.879160        4.580000

[5 rows x 8 columns]

In [132]:
bitcoin_csv.tail()

          Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
3484300  1609372560  28801.47  ...       27804.572129    28806.429798
3484301  1609372620  28829.42  ...       68332.350629    28846.441863
3484302  1609372680  28850.49  ...       71232.784464    28879.056266
3484303  1609372740  28910.54  ...      211870.912660    28893.695831
3484304  1609372800  28893.21  ...      166449.709320    28909.166061

[5 rows x 8 columns]

## Se cambia el formato de la fecha del formato UNIX

In [136]:
bitcoin_csv['Timestamp'] = pd.to_datetime(bitcoin_csv['Timestamp'], unit = 's')

In [137]:
bitcoin_csv.dtypes

Timestamp            datetime64[ns]
Open                        float64
High                        float64
Low                         float64
Close                       float64
Volume_(BTC)                float64
Volume_(Currency)           float64
Weighted_Price              float64
dtype: object

In [138]:
bitcoin_csv

                  Timestamp      Open  ...  Volume_(Currency)  Weighted_Price
0       2011-12-31 07:52:00      4.39  ...           2.000000        4.390000
1       2011-12-31 15:50:00      4.39  ...         210.720000        4.390000
2       2011-12-31 16:59:00      4.50  ...         171.380338        4.526411
3       2011-12-31 17:00:00      4.58  ...          41.220000        4.580000
4       2012-01-01 04:16:00      4.58  ...           6.879160        4.580000
...                     ...       ...  ...                ...             ...
3484300 2020-12-30 23:56:00  28801.47  ...       27804.572129    28806.429798
3484301 2020-12-30 23:57:00  28829.42  ...       68332.350629    28846.441863
3484302 2020-12-30 23:58:00  28850.49  ...       71232.784464    28879.056266
3484303 2020-12-30 23:59:00  28910.54  ...      211870.912660    28893.695831
3484304 2020-12-31 00:00:00  28893.21  ...      166449.709320    28909.166061

[3484305 rows x 8 columns]

## Se cambian los nombres de las columnas para que correspondan al formato de python y tengan un nombre más comprensible

In [139]:
bitcoin_csv.columns = ["start_time_of_the_window" , "open_price" , "high_price" , "low_price" , "close_price" , "volume_of_bitcoins_transacted" , "volume_of_corresponding_currency_transacted" , "volume_weighted_average_price"]

## Se añade una columna que incluye solo la fecha

In [140]:
bitcoin_csv["start_date"] = [d.date() for d in bitcoin_csv['start_time_of_the_window']]

## Se añade una columna solo con el tiempo

In [141]:
bitcoin_csv["start_time"] = [d.time() for d in bitcoin_csv['start_time_of_the_window']]

In [142]:
bitcoin_csv

        start_time_of_the_window  open_price  ...  start_date  start_time
0            2011-12-31 07:52:00        4.39  ...  2011-12-31    07:52:00
1            2011-12-31 15:50:00        4.39  ...  2011-12-31    15:50:00
2            2011-12-31 16:59:00        4.50  ...  2011-12-31    16:59:00
3            2011-12-31 17:00:00        4.58  ...  2011-12-31    17:00:00
4            2012-01-01 04:16:00        4.58  ...  2012-01-01    04:16:00
...                          ...         ...  ...         ...         ...
3484300      2020-12-30 23:56:00    28801.47  ...  2020-12-30    23:56:00
3484301      2020-12-30 23:57:00    28829.42  ...  2020-12-30    23:57:00
3484302      2020-12-30 23:58:00    28850.49  ...  2020-12-30    23:58:00
3484303      2020-12-30 23:59:00    28910.54  ...  2020-12-30    23:59:00
3484304      2020-12-31 00:00:00    28893.21  ...  2020-12-31    00:00:00

[3484305 rows x 10 columns]

In [143]:
bitcoin_csv.head()

  start_time_of_the_window  open_price  ...  start_date  start_time
0      2011-12-31 07:52:00        4.39  ...  2011-12-31    07:52:00
1      2011-12-31 15:50:00        4.39  ...  2011-12-31    15:50:00
2      2011-12-31 16:59:00        4.50  ...  2011-12-31    16:59:00
3      2011-12-31 17:00:00        4.58  ...  2011-12-31    17:00:00
4      2012-01-01 04:16:00        4.58  ...  2012-01-01    04:16:00

[5 rows x 10 columns]

In [144]:
bitcoin_csv.tail()

        start_time_of_the_window  open_price  ...  start_date  start_time
3484300      2020-12-30 23:56:00    28801.47  ...  2020-12-30    23:56:00
3484301      2020-12-30 23:57:00    28829.42  ...  2020-12-30    23:57:00
3484302      2020-12-30 23:58:00    28850.49  ...  2020-12-30    23:58:00
3484303      2020-12-30 23:59:00    28910.54  ...  2020-12-30    23:59:00
3484304      2020-12-31 00:00:00    28893.21  ...  2020-12-31    00:00:00

[5 rows x 10 columns]

## Se examinan los valores mayores

In [196]:
bitcoin_csv.max()

start_time_of_the_window                       2020-12-31 00:00:00
open_price                                                 28997.4
high_price                                                 29010.3
low_price                                                  28963.7
close_price                                                28997.4
volume_of_bitcoins_transacted                              5853.85
volume_of_corresponding_currency_transacted             1.0446e+07
volume_weighted_average_price                              28985.9
start_date                                              2020-12-31
start_time                                                23:59:00
dtype: object

## Se examinan los valores menores

In [195]:
bitcoin_csv.min()

start_time_of_the_window                       2011-12-31 07:52:00
open_price                                                     3.8
high_price                                                     3.8
low_price                                                      1.5
close_price                                                    1.5
volume_of_bitcoins_transacted                                    0
volume_of_corresponding_currency_transacted                      0
volume_weighted_average_price                                  3.8
start_date                                              2011-12-31
start_time                                                00:00:00
dtype: object

## Se decidió utilizar esta API para complementar la información

In [242]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)

In [245]:
import requests

In [288]:
endpoint = "https://api.pro.coinbase.com/payment-methods"
#payload = {"MGY4MDA5NTIwZjQxNGIzOTgwMmRmMjA2YzgwNGNmNWY"}

In [290]:
r = requests.get(endpoint)

In [291]:
r.status_code

401

In [277]:
json_var = r.json()

JSONDecodeError: ignored

In [259]:
type(json_var)

list

## Ya que las ventanas comerciales están reportadas por minuto se decidió buscar el promedio por día, para lo que se ha realizado una función

In [145]:
bitcoin_csv["volume_weighted_average_price"][0]

4.39

In [206]:
new_df = pd.concat([bitcoin_csv["volume_weighted_average_price"], bitcoin_csv["start_date"]], axis = 1)

In [207]:
new_df["hour"] = pd.to_datetime(bitcoin_csv["start_time_of_the_window"].astype(str)).dt.hour

In [263]:
new_df["minute"] = pd.to_datetime(bitcoin_csv["start_time_of_the_window"].astype(str)).dt.minute

In [268]:
new_df = new_df.drop(["price_average_per_hour"], axis=1)

In [269]:
new_df

         volume_weighted_average_price  start_date  hour  minute
0                             4.390000  2011-12-31     7      52
1                             4.390000  2011-12-31    15      50
2                             4.526411  2011-12-31    16      59
3                             4.580000  2011-12-31    17       0
4                             4.580000  2012-01-01     4      16
...                                ...         ...   ...     ...
3484300                   28806.429798  2020-12-30    23      56
3484301                   28846.441863  2020-12-30    23      57
3484302                   28879.056266  2020-12-30    23      58
3484303                   28893.695831  2020-12-30    23      59
3484304                   28909.166061  2020-12-31     0       0

[3484305 rows x 4 columns]

In [294]:
lista_precio = []

In [295]:
lista_promedio_precio = []

### Esta función es demasiado tardada

In [305]:
def hour(df):   

  try:

    for i in range(len(bitcoin_csv["start_date"])+1):

      if new_df["hour"][i] == new_df["hour"][i+1] and (new_df["start_date"][i] == new_df["start_date"][i+1]):


        lista_precio.append(new_df["volume_weighted_average_price"][i])
        
        suma = 0

        if new_df["hour"][i] == 23 and new_df["minute"][i] == 59:


          for j in range(len(lista_promedio_precio)):
            
            suma += lista_precio[j]

          promedio = suma/len(lista_promedio_precio)

          new_df["price_average_per_hour"] = pd.Series(lista_promedio_precio/len(lista_promedio_precio))

      else:
        lista_promedio_precio.clear()
        lista_precio.clear()
        print(lista_promedio_precio)

  except ValueError:
      pass

#print(new_df["start_date"][i]== (new_df["start_date"][i+1]))
#print(new_df["start_date"][i] == new_df["start_date"][i+1])
#if bitcoin_csv["start_date"][i] == new_df["start_date"][i]:

In [ ]:
new_df.apply(hour)

## Cantidad de bitcoins (en promedio) de 2011 a 2020

In [308]:
bitcoin_csv["volume_of_bitcoins_transacted"].mean()

9.42267649722517

In [201]:
def day(df):

  for i in range(len(bitcoin_csv["start_date"])+1):
    if (new_df["start_date"][i] == new_df["start_date"][i+1]):

      lista_promedio_precio.append(new_df["volume_weighted_average_price"][i])

      new_df["price_average_per_hour"] = pd.Series(lista_promedio_precio)

    else:
      lista_promedio_precio.clear()
      print(lista_promedio_precio)
#if bitcoin_csv["start_date"][i] == new_df["start_date"][i]:

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

KeyboardInterrupt: ignored

In [177]:
for i in range(len(bitcoin_csv["start_date"])+1):
  if (new_df["start_date"][i] == (new_df["start_date"][i+1]) and (bitcoin_csv["start_time"][i].dt.hour == bitcoin_csv["start_time"][i+1].dt.hour):
    #suma = new_df["volume_weighted_average_price"][i]
    #suma += new_df["volume_weighted_average_price"][i]
    print("s")

SyntaxError: ignored

In [ ]:
def average_per_day(date, price):

  #Se crea una lista por año
  for i in range()

  for row in range(len(date)+1):

    total_price = price[0]

    if date[i] == date[i+1]:

      total_price +=  

      bitcoin_csv["total_price_per_day"] =

In [70]:
bitcoin_csv["volume_weighted_average_price"] >= 28000

0          False
1          False
2          False
3          False
4          False
           ...
3484300     True
3484301     True
3484302     True
3484303     True
3484304     True
Name: volume_weighted_average_price, Length: 3484305, dtype: bool

In [56]:
price_check = bitcoin_csv[bitcoin_csv["volume_weighted_average_price"]] > float(60000)

KeyError: ignored