<a href="https://colab.research.google.com/github/IsauraRs/BEDU_Equipo1/blob/master/ProyectoPython/ProyectoEquipo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Histórico del bitcoin

## Se importan las librerías a utilizar

In [81]:
import pandas as pd
import numpy as np

## Se carga el data set que ha sido extraído de https://www.kaggle.com/mczielinski/bitcoin-historical-data

In [90]:
bitcoin_csv = pd.read_csv("/content/drive/MyDrive/bitstampUSD_1-min_data_2012-01-01_to_2020-12-31.csv", sep = ",")

## Se revisan los tipos de datos

In [30]:
bitcoin_csv.dtypes

Timestamp              int64
Open                 float64
High                 float64
Low                  float64
Close                float64
Volume_(BTC)         float64
Volume_(Currency)    float64
Weighted_Price       float64
dtype: object

In [31]:
bitcoin_csv.head()

    Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0  1325317920  4.39  4.39  ...      0.455581                2.0            4.39
1  1325317980   NaN   NaN  ...           NaN                NaN             NaN
2  1325318040   NaN   NaN  ...           NaN                NaN             NaN
3  1325318100   NaN   NaN  ...           NaN                NaN             NaN
4  1325318160   NaN   NaN  ...           NaN                NaN             NaN

[5 rows x 8 columns]

In [33]:
bitcoin_csv.isna()

         Timestamp   Open  ...  Volume_(Currency)  Weighted_Price
0            False  False  ...              False           False
1            False   True  ...               True            True
2            False   True  ...               True            True
3            False   True  ...               True            True
4            False   True  ...               True            True
...            ...    ...  ...                ...             ...
4727772      False  False  ...              False           False
4727773      False  False  ...              False           False
4727774      False  False  ...              False           False
4727775      False  False  ...              False           False
4727776      False  False  ...              False           False

[4727777 rows x 8 columns]

In [34]:
bitcoin_csv.isna().sum(axis = 0)

Timestamp                  0
Open                 1243472
High                 1243472
Low                  1243472
Close                1243472
Volume_(BTC)         1243472
Volume_(Currency)    1243472
Weighted_Price       1243472
dtype: int64

In [35]:
bitcoin_csv.isna().sum(axis = 1)

0          0
1          7
2          7
3          7
4          7
          ..
4727772    0
4727773    0
4727774    0
4727775    0
4727776    0
Length: 4727777, dtype: int64

In [38]:
bitcoin_csv = bitcoin_csv.apply(pd.to_numeric, errors = 'coerce')
bitcoin_csv = bitcoin_csv.dropna()

In [39]:
#Se verifica que se haya limpiado de los NaN
bitcoin_csv.head()

       Timestamp  Open  High  ...  Volume_(BTC)  Volume_(Currency)  Weighted_Price
0     1325317920  4.39  4.39  ...      0.455581           2.000000        4.390000
478   1325346600  4.39  4.39  ...     48.000000         210.720000        4.390000
547   1325350740  4.50  4.57  ...     37.862297         171.380338        4.526411
548   1325350800  4.58  4.58  ...      9.000000          41.220000        4.580000
1224  1325391360  4.58  4.58  ...      1.502000           6.879160        4.580000

[5 rows x 8 columns]

## Se resetea el índice

In [71]:

bitcoin_csv = bitcoin_csv.reset_index(drop = True)

In [119]:
bitcoin_csv.head()

                      Timestamp  Open  ...  Volume_(Currency)  Weighted_Price
0 1970-01-01 00:00:01.325317920  4.39  ...                2.0            4.39
1 1970-01-01 00:00:01.325317980   NaN  ...                NaN             NaN
2 1970-01-01 00:00:01.325318040   NaN  ...                NaN             NaN
3 1970-01-01 00:00:01.325318100   NaN  ...                NaN             NaN
4 1970-01-01 00:00:01.325318160   NaN  ...                NaN             NaN

[5 rows x 8 columns]

In [93]:
bitcoin_csv.tail()

                            Timestamp  ...  Weighted_Price
4727772 1970-01-01 00:00:01.609372560  ...    28806.429798
4727773 1970-01-01 00:00:01.609372620  ...    28846.441863
4727774 1970-01-01 00:00:01.609372680  ...    28879.056266
4727775 1970-01-01 00:00:01.609372740  ...    28893.695831
4727776 1970-01-01 00:00:01.609372800  ...    28909.166061

[5 rows x 8 columns]

## Se cambia el formato de la fecha del formato UNIX

In [116]:
pd.to_datetime(bitcoin_csv['Timestamp'], unit = 'ms')

0         1970-01-01 00:00:01.325317920
1         1970-01-01 00:00:01.325317980
2         1970-01-01 00:00:01.325318040
3         1970-01-01 00:00:01.325318100
4         1970-01-01 00:00:01.325318160
                       ...
4727772   1970-01-01 00:00:01.609372560
4727773   1970-01-01 00:00:01.609372620
4727774   1970-01-01 00:00:01.609372680
4727775   1970-01-01 00:00:01.609372740
4727776   1970-01-01 00:00:01.609372800
Name: Timestamp, Length: 4727777, dtype: datetime64[ns]

In [110]:
bitcoin_csv.dtypes

Timestamp            datetime64[ns]
Open                        float64
High                        float64
Low                         float64
Close                       float64
Volume_(BTC)                float64
Volume_(Currency)           float64
Weighted_Price              float64
dtype: object

## El tipo de dato en la fecha ha cambiado, sin embargo, las fechas no corresponden a las fechas reales, ya que de acuerdo a la documentación, estas deberían comenzar en enero de 2012 y la última debería ser de diciembre de 2020

In [118]:
datetime.datetime.fromtimestamp(bitcoin_csv['Timestamp'])

TypeError: ignored

In [117]:
import datetime

In [111]:
bitcoin_csv

                            Timestamp  ...  Weighted_Price
0       1970-01-01 00:00:01.325317920  ...        4.390000
1       1970-01-01 00:00:01.325317980  ...             NaN
2       1970-01-01 00:00:01.325318040  ...             NaN
3       1970-01-01 00:00:01.325318100  ...             NaN
4       1970-01-01 00:00:01.325318160  ...             NaN
...                               ...  ...             ...
4727772 1970-01-01 00:00:01.609372560  ...    28806.429798
4727773 1970-01-01 00:00:01.609372620  ...    28846.441863
4727774 1970-01-01 00:00:01.609372680  ...    28879.056266
4727775 1970-01-01 00:00:01.609372740  ...    28893.695831
4727776 1970-01-01 00:00:01.609372800  ...    28909.166061

[4727777 rows x 8 columns]

## Se cambian los nombres de las columnas para que correspondan al formato de python y tengan un nombre más comprensible

In [50]:
bitcoin_csv.columns = ["start_time_of_the_window" , "open_price" , "high_price" , "low_price" , "close_price" , "volume_of_bitcoins_transacted" , "volume_of_corresponding_currency_transacted" , "volume_weighted_average_price"]

## Se añade una columna que incluye solo la fecha

In [75]:
bitcoin_csv["start_date"] = [d.date() for d in bitcoin_csv['start_time_of_the_window']]

## Se añade una columna solo con el tiempo

In [84]:
bitcoin_csv["start_time"] = [d.time() for d in bitcoin_csv['start_time_of_the_window']]

In [85]:
bitcoin_csv

        start_time_of_the_window  open_price  ...  start_date       start_time
0        1970-01-16 08:08:37.920        4.39  ...  1970-01-16  08:08:37.920000
1        1970-01-16 08:09:06.600        4.39  ...  1970-01-16  08:09:06.600000
2        1970-01-16 08:09:10.740        4.50  ...  1970-01-16  08:09:10.740000
3        1970-01-16 08:09:10.800        4.58  ...  1970-01-16  08:09:10.800000
4        1970-01-16 08:09:51.360        4.58  ...  1970-01-16  08:09:51.360000
...                          ...         ...  ...         ...              ...
3484300  1970-01-19 15:02:52.560    28801.47  ...  1970-01-19  15:02:52.560000
3484301  1970-01-19 15:02:52.620    28829.42  ...  1970-01-19  15:02:52.620000
3484302  1970-01-19 15:02:52.680    28850.49  ...  1970-01-19  15:02:52.680000
3484303  1970-01-19 15:02:52.740    28910.54  ...  1970-01-19  15:02:52.740000
3484304  1970-01-19 15:02:52.800    28893.21  ...  1970-01-19  15:02:52.800000

[3484305 rows x 10 columns]

In [87]:
bitcoin_csv.head()

  start_time_of_the_window  open_price  ...  start_date       start_time
0  1970-01-16 08:08:37.920        4.39  ...  1970-01-16  08:08:37.920000
1  1970-01-16 08:09:06.600        4.39  ...  1970-01-16  08:09:06.600000
2  1970-01-16 08:09:10.740        4.50  ...  1970-01-16  08:09:10.740000
3  1970-01-16 08:09:10.800        4.58  ...  1970-01-16  08:09:10.800000
4  1970-01-16 08:09:51.360        4.58  ...  1970-01-16  08:09:51.360000

[5 rows x 10 columns]

In [88]:
bitcoin_csv.tail()

        start_time_of_the_window  open_price  ...  start_date       start_time
3484300  1970-01-19 15:02:52.560    28801.47  ...  1970-01-19  15:02:52.560000
3484301  1970-01-19 15:02:52.620    28829.42  ...  1970-01-19  15:02:52.620000
3484302  1970-01-19 15:02:52.680    28850.49  ...  1970-01-19  15:02:52.680000
3484303  1970-01-19 15:02:52.740    28910.54  ...  1970-01-19  15:02:52.740000
3484304  1970-01-19 15:02:52.800    28893.21  ...  1970-01-19  15:02:52.800000

[5 rows x 10 columns]

## Ya que las ventanas comerciales están reportadas por minuto se decidió buscar el promedio por día, para lo que se ha realizado una función

In [86]:
bitcoin_csv["volume_weighted_average_price"][0]

4.39

In [ ]:
def average_per_day(date, price):

  for row in range(len(date)+1):

    total_price = price[0]

    if date[i] == date[i+1]:

      total_price +=  

      bitcoin_csv["total_price_per_day"] =

In [70]:
bitcoin_csv["volume_weighted_average_price"] >= 28000

0          False
1          False
2          False
3          False
4          False
           ...
3484300     True
3484301     True
3484302     True
3484303     True
3484304     True
Name: volume_weighted_average_price, Length: 3484305, dtype: bool

In [56]:
price_check = bitcoin_csv[bitcoin_csv["volume_weighted_average_price"]] > float(60000)

KeyError: ignored